*{
	margin:0 auto;
}

img{
	width:95%;
	/* object-fit:cover; */
    /* border-radius: 50%; */
	margin:0 auto;
	padding:2px;
}

img:hover{
    opacity: .5;
}
@media screen and (min-width:600px){
	img{
		width:42%;
		padding:2%;
	}
}
@media screen and (min-width:1000px){
	img{
		width:22%;
		padding:1%;
	}
}